{% extends './index.html' %}

{% block title %}Solicitud reinicio password{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto text-center">

      <img class="mb-4" src="https://sanalfonsohuanta.edu.pe/images/logotipo.png" alt="" width="100%" height="50%">
      <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>


      
      <h1 class="h3 mb-3 fw-normal">Estimado {{ data.3 }}</h1>
      <h3 class="h3 mb-3 fw-normal">Se ha solicitado restablecer la contraseña para tu cuenta asociada: {{ request.form['username'] }}</h3>
      
      <div class="form-floating">
        <label for="floatingInput">Apreciamos tu tiempo, utiliza el siguiente vínculo temporal para reiniciar tu contraseña</label>
      </div>  
      <br>
      <center>
        
        <a href="http://127.0.0.1:5000/reset/{{token}}">http://127.0.0.1:5000/reset/{{token}}</a>
      </center>
      <br>
      <div class="form-floating">
        <label for="floatingInput">Gracias por su confianza en colegios San Alfonso</label>
      </div> 

      
      <p class="mt-5 mb-3 text-muted">Saludos, el equipo de Soporte San Alfonso</p>
      <p class="mt-5 mb-3 text-muted">&copy; Colegio San Alfonso 2022</p>
 
  </main>
{% endblock %}